<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>146340567497-3s6g1a5mnp74jo893o943ejk4hd9repp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146340567497-3s6g1a5mnp74jo893o943ejk4hd9repp</string>
	<key>API_KEY</key>
	<string>AIzaSyBhI0bN71fQbRTq6aTjGJsrECErC6iGSiA</string>
	<key>GCM_SENDER_ID</key>
	<string>146340567497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pelletpirate.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-devbb</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-devbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:146340567497:ios:ea6eb605cc06adaa</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-devbb.firebaseio.com</string>
</dict>
</plist>